Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [1]:
b="Rishabh"

In [2]:
type(b)

str

In [3]:
l=[34,56,"Singh",78.009,"87ty"]

In [4]:
l

[34, 56, 'Singh', 78.009, '87ty']

In [5]:
type(l)

list

In [6]:
f = 45.0098

In [7]:
f

45.0098

In [8]:
type(f)

float

In [9]:
t = (34,56,"Singh",78.009,"87ty")

In [10]:
t

(34, 56, 'Singh', 78.009, '87ty')

In [11]:
type(t)

tuple

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
What will be the data type of the above given variable.

In [14]:
var1 = ' '

In [15]:
type(var1)

str

In [17]:
var2 = '[ DS , ML , Python]'

In [18]:
var2

'[ DS , ML , Python]'

In [19]:
type(var2)

str

In [20]:
var3 = [ 'DS' , 'ML' , 'Python' ]

In [21]:
var3

['DS', 'ML', 'Python']

In [22]:
type(var3)

list

In [23]:
var4 =1

In [24]:
type(var4)

int

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

/ is used to get divisor

In [46]:
10/3

3.3333333333333335

 % is used to get remainder

In [47]:
12%6

0

 //  use to perform floor division rounds the result down to the nearest whole number

In [1]:
17//4

4

In [ ]:
** gives power

In [2]:
8**3

512

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [25]:
h = [34,56.09,'rish',True,56,908,'singh',False,'45rt',5+8j]

In [26]:
len(h)

10

In [27]:
h

[34, 56.09, 'rish', True, 56, 908, 'singh', False, '45rt', (5+8j)]

In [45]:
for i in h:
    print(i,' ',type(i))

34   <class 'int'>
56.09   <class 'float'>
rish   <class 'str'>
True   <class 'bool'>
56   <class 'int'>
908   <class 'int'>
singh   <class 'str'>
False   <class 'bool'>
45rt   <class 'str'>
(5+8j)   <class 'complex'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [3]:
A = int(input())
B = int(input())
count =0
while((A>0) & (A%B==0)):
    A=A/B
    count = count + 1
print(count)

 48
 6

1

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [39]:
lt = list(range(25))

In [40]:
lt

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24]

In [43]:
for i in lt:
    if(i%3==0):
        print( i ,'is divisible by 3')
    else:
        print(i , 'is not divisible by 3')

0 is divisible by 3
1 is not divisible by 3
2 is not divisible by 3
3 is divisible by 3
4 is not divisible by 3
5 is not divisible by 3
6 is divisible by 3
7 is not divisible by 3
8 is not divisible by 3
9 is divisible by 3
10 is not divisible by 3
11 is not divisible by 3
12 is divisible by 3
13 is not divisible by 3
14 is not divisible by 3
15 is divisible by 3
16 is not divisible by 3
17 is not divisible by 3
18 is divisible by 3
19 is not divisible by 3
20 is not divisible by 3
21 is divisible by 3
22 is not divisible by 3
23 is not divisible by 3
24 is divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

Mutables data types are those which can be modified after assigned
Eg: list

In [4]:
ls = [3,4,5,6]

In [9]:
type(ls)

list

In [5]:
ls

[3, 4, 5, 6]

In [6]:
ls[0]='abc'

In [7]:
ls

['abc', 4, 5, 6]

Here we ca see ls is now modify we have replace the value 3 with 'abc' at 0th index

Immutables data types can't be change after it assigned 
eg: tuples

In [8]:
ts = (2,33,4,67)

In [10]:
type(ts)

tuple

In [11]:
ts[0]='acp'

TypeError: 'tuple' object does not support item assignment

here it gives us error that we can't change or modify the tuple once it assigned